* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

input {
	outline: none;
}

select {
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	-webkit-appearance: none;
}

.no-select {
	-webkit-user-select: none;
	/* Chrome, Safari, Opera */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Стандартный синтаксис */
}

button {
	cursor: pointer;
	background: transparent;
	border: none;
}